@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700');

xe-content,
.xe-content,
.xe_content,
.cke_editable {
	font-family: 'Roboto', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 14px;
	line-height: 1.6;
	color: #6a6e79;
	letter-spacing: -0.2px;
}

xe-content figcaption,
.xe-content figcaption,
.xe_content figcaption,
.cke_editable figcaption {
	font-size: 13px;
	margin: 8px 0 12px 0;
	line-height: 20px;
	letter-spacing: -0.2px;
}

xe-content h1,
.xe-content h1,
.xe_content h1,
.cke_editable h1 {
	color: #141414;
	text-decoration: none;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -0.4px;
	margin: 0 0 40px 0;
	font-weight: 500;
}

xe-content h2,
.xe-content h2,
.xe_content h2,
.cke_editable h2 {
	color: #141414;
	text-decoration: none;
	font-size: 26px;
	line-height: 36px;
	letter-spacing: -0.2px;
	margin: 0 0 28px 0;
	font-weight: 500;
}

xe-content h3,
.xe-content h3,
.xe_content h3,
.cke_editable h3 {
	color: #141414;
	text-decoration: none;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -0.2px;
	margin: 0 0 16px 0;
	font-weight: 500;
}

xe-content h4,
.xe-content h4,
.xe_content h4,
.cke_editable h4 {
	color: #141414;
	text-decoration: none;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: -0.2px;
	margin: 0 0 16px 0;
	font-weight: 500;
}

xe-content h5,
.xe-content h5,
.xe_content h5,
.cke_editable h5 {
	color: #141414;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.2px;
	margin: 0 0 16px 0;
	font-weight: 500;
}

xe-content h6,
.xe-content h6,
.xe_content h6,
.cke_editable h6 {
	color: #141414;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -0.2px;
	margin: 0 0 8px 0;
	font-weight: 500;
}

xe-content p,
.xe-content p,
.xe_content p,
.cke_editable p {
	color: #141414;
	text-decoration: none;
	line-height: 26px;
	letter-spacing: -0.2px;
	margin: 0 0 24px 0;
	font-size: 16px;
}

xe-content p sub,
.xe-content p sub,
.xe_content p sub,
.cke_editable p sub {
	color: #767676;
	text-decoration: none;
	line-height: 18px;
	letter-spacing: -0.2px;
	margin: 12px 0 12px 0;
}

xe-content p sup,
.xe-content p sup,
.xe_content p sup,
.cke_editable p sup {
	color: #767676;
	text-decoration: none;
	line-height: 18px;
	letter-spacing: -0.2px;
	margin: 12px 0 12px 0;
}

xe-content strong,
.xe-content strong,
.xe_content strong,
.cke_editable strong {
	color: inherit;
	text-decoration: none;
	line-height: 26px;
	letter-spacing: -0.2px;
	margin: 12px 0 12px 0;
}

xe-content ol,
.xe-content ol,
.xe_content ol,
.cke_editable ol {
	padding: 0 0 0 30px;
}
S
xe-content ol li,
.xe-content ol li,
.xe_content ol li,
.cke_editable ol li {
	list-style: decimal;
}

xe-content ol>li>ol>li,
.xe-content ol>li>ol>li,
.xe_content ol>li>ol>li,
.cke_editable ol>li>ol>li {
	list-style: lower-alpha;
}

xe-content ol>li>ol>li>ol>li,
.xe-content ol>li>ol>li>ol>li,
.xe_content ol>li>ol>li>ol>li,
.cke_editable ol>li>ol>li>ol>li {
	list-style: lower-roman;
}

xe-content ol>li>ol>li>ol>li>ol>li,
.xe-content ol>li>ol>li>ol>li>ol>li,
.xe_content ol>li>ol>li>ol>li>ol>li,
.cke_editable ol>li>ol>li>ol>li>ol>li {
	list-style: decimal;
}

xe-content ol>li>ol>li>ol>li>ol>li>ol>li,
.xe-content ol>li>ol>li>ol>li>ol>li>ol>li,
.xe_content ol>li>ol>li>ol>li>ol>li>ol>li,
.cke_editable ol>li>ol>li>ol>li>ol>li>ol>li {
	list-style: lower-alpha;
}

xe-content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.xe-content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.xe_content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.cke_editable ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	list-style: lower-roman;
}

xe-content ul>li>ul>li>ul>li>ul>li,
.xe-content ul>li>ul>li>ul>li>ul>li,
.xe_content ul>li>ul>li>ul>li>ul>li,
.cke_editable ul>li>ul>li>ul>li>ul>li {
	list-style: disc;
}

xe-content ul>li>ul>li>ul>li>ul>li>ul>li,
.xe-content ul>li>ul>li>ul>li>ul>li>ul>li,
.xe_content ul>li>ul>li>ul>li>ul>li>ul>li,
.cke_editable ul>li>ul>li>ul>li>ul>li>ul>li {
	list-style-type: circle;
}

xe-content ul>li>ul>li>ul>li>ul>li>ul>li>ul>li,
.xe-content ul>li>ul>li>ul>li>ul>li>ul>li>ul>li,
.xe_content ul>li>ul>li>ul>li>ul>li>ul>li>ul>li,
.cke_editable ul>li>ul>li>ul>li>ul>li>ul>li>ul>li {
	list-style: square;
}

xe-content a,
.xe-content a,
.xe_content a,
.cke_editable a {
	color: #2684ff;
	text-decoration: none;
	line-height: 26px;
	letter-spacing: -0.2px;
}

xe-content a:hover,
.xe-content a:hover,
.xe_content a:hover,
.cke_editable a:hover {
	color: #2684ff;
	text-decoration: underline;
	line-height: 26px;
	letter-spacing: -0.2px;
}

xe-content pre,
.xe-content pre,
.xe_content pre,
.cke_editable pre {
	line-height: 23px;
	color: 767676;
	letter-spacing: -0.2px;
}

xe-content div,
.xe-content div,
.xe_content div,
.cke_editable div {
	line-height: 26px;
	letter-spacing: -0.2px;
	color: #767676;
}

xe-content div blockquote,
.xe-content div blockquote,
.xe_content div blockquote,
.cke_editable div blockquote {
	font-style: italic;
	/* font-family: Georgia, Times, "Times New Roman", serif; */
	padding: 10px 0 10px 15px;
	border-left: 2px solid #d7d7d7;
	margin: 0 0 0 0;
	font-weight: 400;
	color: #767676;
}

xe-content blockquote div,
.xe-content blockquote div,
.xe_content blockquote div,
.cke_editable blockquote div {
	font-size: 16px;
	letter-spacing: -0.2px;
	font-style: normal;
	color: #767676;
}

xe-content blockquote p,
.xe-content blockquote p,
.xe_content blockquote p,
.cke_editable blockquote p {
	font-size: 16px;
	margin: 0;
	font-style: normal;
	color: #767676;
	letter-spacing: -0.2px;
}

xe-content blockquote.cke_contents_ltr,
.xe-content blockquote.cke_contents_ltr,
.xe_content blockquote.cke_contents_ltr,
.cke_editable blockquote.cke_contents_ltr {
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px
}

xe-content blockquote.cke_contents_rtl,
.xe-content blockquote.cke_contents_rtl,
.xe_content blockquote.cke_contents_rtl,
.cke_editable blockquote.cke_contents_rtl {
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px
}

xe-content hr,
.xe-content hr,
.xe_content hr,
.cke_editable hr {
	box-sizing: content-box;
	border: 0px;
	margin: 0px 0 24px 0;
	border-top: 1px solid #e0e0e0;
}

xe-content img,
.xe-content img,
.xe_content img,
.cke_editable img {
	max-width: 100%;
	height: auto !important;
}

.ckeditor-html5-video {
	max-width: 100% !important;
}

.cke_editable {
	margin: 16px 0 16px 0;
}

.cke_editable .cke_widget_mask {
	max-width: 100% !important;
	height: 100% !important;
}

xe-content code,
.xe-content code,
.xe_content code {
	white-space: pre-wrap;
}

xe-content li,
.xe-content li,
.xe_content li {
	line-height: 26px;
	letter-spacing: -0.2px;
	color: #141414;
	margin: 0 0 4px 0;
	font-size: 16px;
}

xe-content table,
.xe-content table,
.xe_content table {
	letter-spacing: -0.2px;
	margin-bottom: 24px;
}

xe-content table caption, .board legend,
.xe-content table caption, .board legend,
.xe_content table caption, .board legend {
	visibility: visible;
	width: auto;
	height: auto;
	font-size: initial;
	line-height: normal;
}

xe-content table caption,
.xe-content table caption,
.xe_content table caption {
	text-align: left;
	font-family: 'Roboto', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 13px;
	margin: 0 0 8px 0;
	color: #141414;
}

xe-content table, tbody, tfoot, thead, tr, td, th,
.xe-content table, tbody, tfoot, thead, tr, td, th,
.xe_content table, tbody, tfoot, thead, tr, td, th {
	border-collapse: collapse;
	/*	border: 1px solid #d7d7d7;*/
	text-align: left;
	padding: 7px 0 9px 15px;
	/*	font-weight: 500;*/
	font-size: 14px;
	/*	letter-spacing: -0.2px;*/
	/*	font-family: 'Roboto', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
}

xe-content th,
.xe-content th,
.xe_content th {
	background-color: #f8f9fa;
	color: #141414;
	letter-spacing: -0.2px;
}

.board_list .xe-content table, .board_list tbody, .board_list tfoot, .board_list thead, .board_list tr, .board_list td, .board_list th, .board_list .board_list .xe-content table, .board_list tbody, .board_list tfoot, .board_list thead, .board_list tr, .board_list td, .board_list th, .board_list .board_list .xe_content table, .board_list tbody, .board_list tfoot, .board_list thead, .board_list tr, .board_list td, .board_list th {
	border: 0;
	letter-spacing: 0;
	font-weight: 400;
	font-family: "Nanum Barun Gothic", "나눔고딕", NanumGothic, "돋움", Dotum, Helvetica Neue, Helvetica, sans-serif;
}

xe-content figure,
.xe-content figure,
.xe_content figure {
	letter-spacing: -0.2px;
  margin: 1em 40px;
}

@media (min-width:576px) {

	xe-content figcaption,
	.xe-content figcaption,
	.xe_content figcaption,
	.cke_editable figcaption {
		font-size: 13px;
		margin: 8px 0 12px 0;
		line-height: 20px;
		letter-spacing: -0.2px;
	}

	xe-content h1,
	.xe-content h1,
	.xe_content h1,
	.cke_editable h1 {
		color: #141414;
		text-decoration: none;
		font-size: 40px;
		line-height: 50px;
		letter-spacing: -0.4px;
	}

	xe-content h2,
	.xe-content h2,
	.xe_content h2,
	.cke_editable h2 {
		color: #141414;
		text-decoration: none;
		font-size: 32px;
		line-height: 38px;
		letter-spacing: -0.4px;
	}

	xe-content h3,
	.xe-content h3,
	.xe_content h3,
	.cke_editable h3 {
		color: #141414;
		text-decoration: none;
		font-size: 28px;
		line-height: 34px;
		letter-spacing: -0.2px;
	}

	xe-content h4,
	.xe-content h4,
	.xe_content h4,
	.cke_editable h4 {
		color: #141414;
		text-decoration: none;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: -0.2px;
	}

	xe-content h5,
	.xe-content h5,
	.xe_content h5,
	.cke_editable h5 {
		color: #141414;
		text-decoration: none;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: -0.2px;
	}

	xe-content h6,
	.xe-content h6,
	.xe_content h6,
	.cke_editable h6 {
		color: #141414;
		text-decoration: none;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: -0.2px;
	}

	xe-content p,
	.xe-content p,
	.xe_content p,
	.cke_editable p {
		color: #141414;
		text-decoration: none;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: -0.2px;
		margin: 0 0 24px;
		letter-spacing: -0.2px;
	}
}

@media (min-width:768px) {}
