@charset 'utf-8';

.cke_wysiwyg_div.cke_editable {
  padding: 14px 8px;
}

.wrap-ckeditor-fileupload {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* 파일 첨부 영역 */
.file-view ul,
.file-attach-list p {
  margin: 0;
  padding: 0;
}

.file-view ul {
  list-style: none;
}

.file-attach-group {
  font-size: 13px;
  margin-top: 20px;
}
.file-attach-group.drag {
  border-color: #007AFF;
  border-style: dashed;
  background-color: rgba(0, 122, 255, 0.1);
}

.file-attach-group.drag .file-attach {
  background-color: rgba(0, 122, 255, 0.05);
}

.file-attach-group.drag .file-view {
  border-color: rgba(0, 122, 255, 0.2);
}

.file-attach-group .file-attach {
  font-size: 14px;
  padding: 10px;
  width: 100%;
  background-color: #f4f4f4;
}

.file-attach-group .file-attach button {
  margin-right: 4px;
}

.file-attach-group .file-attach .attach-info-text {
  vertical-align: middle;
}
.file-attach-group .file-attach .attach-info-text a {
  color: #2c8beb;
}
.file-attach-group .attach-progress {
  display: none;
  overflow: hidden;
  height: 4px;
  background-color: #ddd;
}
.file-attach-group .attach-progress .attach-progress-bar {
  float: left;
  width: 0;
  height: 100%;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
  text-align: center;
  color: #fff;
  background-color: #2c8beb;
}
.file-attach-group .file-view {
  padding: 4px;
  border-top: 1px solid #ddd;
}
.file-attach-group .file-view strong {
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
  color: #2c8beb;
}
.file-attach-group .file-view .thumbnail-list li {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}
.file-attach-group .file-view .thumbnail-list li .filename {
  margin: 20px 0 0;
  padding: 5px;
  word-break: break-all;
}
.file-attach-group .file-view .thumbnail-list li img {
  width: 100%;
  height: 100%;
}
.file-attach-group .file-view .thumbnail-list li button {
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  background-color: transparent;
}
.file-attach-group .file-view .thumbnail-list li::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
}

.thumbnail-list li .btn-cover,
.thumbnail-list li .btn-delete {
  opacity: 0.6;
}

.thumbnail-list li .btn-insert {
  opacity: 0.3;
}

.thumbnail-list li .btn-cover.selected {
  opacity: 1;
}

.thumbnail-list li:hover .btn-insert,
.thumbnail-list li:hover .btn-cover,
.thumbnail-list li:hover .btn-delete {
  opacity: 1;
}

.file-attach-group .file-view .thumbnail-list li .btn-insert {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  cursor: pointer;
  border-color: transparent;
  border-radius: 50%;
  outline: none;
  background-color: rgba(255, 255, 255, .3);
}
.file-attach-group .file-view .thumbnail-list li .btn-insert i {
  font-size: 20px;
  line-height: 48px;
}
.file-attach-group .file-view .thumbnail-list li .btn-insert:hover,
.file-attach-group .file-view .thumbnail-list li .btn-insert:focus {
  background-color: #248aef;
}
.file-attach-group .file-view .thumbnail-list li .btn-delete {
  position: absolute;
  z-index: 5;
  top: 4px;
  right: 4px;
  padding: 0;
  width: 18px;
  line-height: 18px;
}
.file-attach-group .file-view .thumbnail-list li .btn-delete i {
  font-size: 12px;
  line-height: 18px;
}

.file-attach-group .file-view .thumbnail-list li .btn-delete:hover,
.file-attach-group .file-view .thumbnail-list li .btn-delete:focus {
  border-radius: 50%;
  background-color: rgba(255, 59, 48, .6);
}

.file-attach-group .file-view .thumbnail-list li .btn-cover {
  position: absolute;
  z-index: 5;
  top: 4px;
  left: 4px;
  padding: 0;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
}
.file-attach-group .file-view .thumbnail-list li .btn-cover i {
  font-size: 12px;
  line-height: 18px;
}
.file-attach-group .file-view .thumbnail-list li .btn-cover.selected,
.file-attach-group .file-view .thumbnail-list li .btn-cover:hover,
.file-attach-group .file-view .thumbnail-list li .btn-cover:focus {
  background-color: rgba(255, 204, 0, .6);
}

.file-attach-group .file-view .file-attach-list {
  margin-top: 20px;
}
.file-attach-group .file-view .file-attach-list li {
  overflow: hidden;
  min-height: 30px;
  padding: 0 10px;
  color: #101010;
}
.file-attach-group .file-view .file-attach-list li p {
  margin: 6px;
}
.file-attach-group .file-view .file-attach-list li .xe-pull-right button {
  height: 30px;
  cursor: pointer;
  color: #999;
  border: none;
  outline: none;
  background-color: transparent;
}
.file-attach-group .file-view .file-attach-list li .xe-pull-right button:hover {
  color: #2c8beb;
}
.file-attach-group .file-view .file-attach-list li:hover {
  background-color: #fff;
}

/* @FIXME 임시 */
/* ckeditor hashtag */
.suggestions {
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  max-height: 366px;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  border: 1px solid #51586b ;
  border-radius: 0 0 2px 2px;
  background-color: #fff;
}

.suggestions li {
  margin: 0;
  padding: 5px 10px;
}

.suggestions li:hover,
.suggestions li.active {
  cursor: pointer;
  color: #000;
  background-color: #2389ee ;
}


.__xe_hashtag {
  margin: 0 1px;
  padding: 0 1px;
  color: #2577ef;
  border: 1px solid #d3d9e3;
  border-radius: 2px;
  background: #ebeef0;
}
.__xe_mention {
  margin: 0 1px;
  padding: 0 1px;
  color: #2577ef;
  border: 1px solid #d3d9e3;
  border-radius: 2px;
  background: #ebeef0;
}
.__xe_file {
  display: none;
}
.__xe_file.loading img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.__xe_file.__xe_error {
  color: #fff;
  background: #ef5350;
}
.__xe_file + .__xe_file {
  margin-left: 5px;
}
