.__xe_content {
  position: relative;
}

.__xe_content .active {
  border-color: #c2c9b4!important;
}

.__xe_content .drag-here {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 1px;
  left: 0px;
  /*line-height: 265px;*/
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #393a3b;
  background-color: rgba(243, 244, 245, .9);
}


.cke_button.cke_button__fileupload,
.cke_button.cke_button__imageupload {
  position: relative;
  overflow: hidden;
}


.cke_button .fileupload,
.cke_button .imageupload {
  position: absolute;
  right: 0;
  top: 0;
  height: 26px;
  cursor: pointer;
}


