@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@font-face {
  font-family: "ng";
  font-style: normal;
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot");
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ng";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot");
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.ttf") format("truetype");
}


body, input, textarea, select, table {
  font-family: "애플 SD 산돌고딕 Neo","Apple SD Gothic Neo",AppleGothic,Helvetica,sans-serif;
  font-size: 13px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
.btn-toggle {
  position: absolute;
  top: 6px;
  left: 0;
  padding: 15px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
&.open .btn-toggle {
   padding: 24px 11px;
 }
.btn-toggle .icon-bar {
  background-color: #8D8D8D;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
+ .icon-bar {
    margin-top: 7px;
  }
}
&.open .btn-toggle .icon-bar {
&.v2 {
   display: none;
+ .icon-bar {
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
margin-top: -2px;
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.brand-area {
  text-align: center;
  line-height: 60px;
h1 {
  font-weight: normal;
}
}
.link-brand {
  font-size: 22px;
  color: $brown-color;
  letter-spacing: 3px;

img{
  max-height: 60px;
}
}
.btn_config {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  color: #fff;
  font-size: 22px;
  vertical-align: top;
  line-height: 40px;
}
.plugin-area {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 60px;
> ul > li {
    display: inline-block;
  }
.plugin {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  font-size: 23px;
  color: #8D8D8D;
}
.toggle-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 164px;
  margin: 0;
  padding: 10px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
li a {
  display: block;
  padding: 0 15px 0 16px;
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 40px;
}
}
}
&.open nav {
   display: block;
   position: fixed;
   top: 70px;
   right: 0;
   bottom: 0;
   left: 0;
   margin: 0;
   padding: 0 48px;
   height: auto;
   box-sizing: border-box;
   overflow: hidden;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
 }
nav .nav-list {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0 !important;
&.open {
   display: block;
 }
li {
a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
list-style: none;
}
> li > a {
    position: relative;
    padding: 15px 20px;
  }
}
}

nav .nav-list .sub-menu-list > li > a {
  position: relative;
  padding: 15px 20px;
}

header nav .nav-list {
> li {
&.on > a {
   color: #999;
 }
> a {
&:hover {
   background-color: transparent;
 }
> i {
    float: right;
    font-size: 19px;
    margin-top: 1px;
  }
}
}
.sub-menu .sub-menu-list > li.sub-menu li a {
  padding-left: 40px;
}
.sub-menu-list > li.on > a {
  color: #b0b0b0;
}
.sub-menu {
a .ico-arrow {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 23px;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #000 transparent transparent transparent;
}
&.open > a .ico-arrow {
   border-color: $brown-color transparent transparent transparent;
 }
.sub-menu-list {
  display: none;
  margin: 10px 0;
  padding: 0;
  background-color: #f6f6f6;
&.open {
   display: block;
 }
}
&.open > a {
   color: $brown-color;
 }
}
}

nav .nav-list .sub-menu.open > a {
  color: $brown-color;
}

header nav .nav-list .sub-menu {
  position: relative;
}

.spot-area {
  clear: both;
.swiper-slide {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.swiper-pagination-switch {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
}
.swiper-pagination {
  bottom: 15px;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-container {
  height: 820px;
}
.item-slide {
  display: table;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: 50% 50%;
.slide-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  color: #000;
strong {
  font-size: 40px;
  line-height: 56px;
  color: $brown-color;
  letter-spacing: 1px;
  font-weight: bold;
}
p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
}
}
}
.owl-controls {
.owl-nav {
  position: absolute;
  top: 50%;
  color: #fff;
  width: 100%;
.owl-prev {
  position: relative;
  float: left;
  margin-left: 30px;
  padding-left: 25px;
&:after {
   position: absolute;
   left: 0;
   top: 50%;
   width: 7px;
   height: 7px;
   margin-top: -2px;
   background-color: #fff;
   border-radius: 1px;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   content: "";
 }
}
.owl-next {
&:after {
   position: absolute;
   left: 0;
   top: 50%;
   width: 7px;
   height: 7px;
   margin-top: -2px;
   background-color: #fff;
   border-radius: 1px;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   content: "";
   left: auto;
   right: 0;
 }
position: relative;
float: right;
margin-right: 30px;
padding-right: 25px;
}
.owl-prev:hover, .owl-next:hover {
  color: $brown-color;
}
.owl-prev:hover:after, .owl-next:hover:after {
  background-color: $brown-color;
}
}
.owl-dots {
  position: absolute;
  bottom: 26px;
  width: 100%;
  text-align: center;
}
.owl-dot {
  display: inline-block;
  zoom: 1;
  *
  display: inline;
  /*IE7 life-saver */
  height: 30px;
  margin: 5px 4px;
span {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #fff;
  vertical-align: middle;
}
&.active span {
   background: $brown-color;
 }
}
&.clickable .owl-dot:hover span {
   background: $brown-color;
 }
.owl-nav {
  display: none;
}
}
}

.sub-spot {
  height: 340px;
  background: url(../img/bg_sub_spot.jpg) 50% 50% no-repeat;
  background-size: cover;
.table-txt {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
> h2 {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: normal;
  }
}
}

.txt-banner {
.sub-spot {
  height: 170px;
  background-image: none;
  background-color: $brown-color;
}
.table-txt > h2 {
  font-size: 21px;
  text-align: left;
}
}

.no-spot {
.sub-spot {
  height: 70px;
  background-color: transparent;
  background-image: none;
.table-txt > h2 {
  padding: 0;
  color: transparent;
}
}
header {
nav .nav-list li a, .plugin-area .plugin {
  color: #000;
}
nav .nav-list .sub-menu > a .ico-arrow {
  border-color: #000 transparent transparent transparent;
}
}
}

.footer {
  background-color: #1B1C1F;
> {
.xe-container, .xe-container-fluid {
  padding-top: 40px;
  padding-bottom: 60px;
}
}
.footer-copy {
  padding: 20px 0;
  border-top: 1px solid #333;
}
color: #fff;
.brand-area a {
  color: #fff;
}
h3 {
  color: #fff;
a {
  color: #fff;
}
}
.link-area a {
  color: #fff;
}
.footer-text, .menu-list li a, .footer-copy p {
  color: #35373d;
}
.footer-text {
  margin-bottom: 50px;
}
.menu-list li {
&.on a, a:hover {
   color: $brown-color;
 }
}
.footer-copy a, .link-area a:hover {
  color: $brown-color;
}
h3 {
  margin: 40px 0 20px;
  font-weight: normal;
&:first-child {
   margin-top: 0;
 }
}
.link-area {
  margin-top: 30px;
}
.brand-area {
  margin-bottom: 20px;
  font-size: 47px;
}
.menu-list li {
  margin-bottom: 10px;
}
.link-area a {
  margin-left: 16px;
  font-size: 23px;
}
}

.sub-container {
  position: relative;
&:after {
   position: absolute;
   left: 0;
   top: 0;
   width: 50%;
   height: 100%;
   background-color: #F4F4F4;
   content: "";
   z-index: -2;
 }
.sub-content {
  padding: 60px 15px 80px;
}
.snb {
  padding: 60px 45px 80px 30px;
}
.sub-content:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
  z-index: -1;
}
.snb {
h3 {
  margin-bottom: 40px;
  font-size: 15px;
  letter-spacing: 3px;
}
li {
  margin-bottom: 20px;
a {
  display: block;
  position: relative;
  font-size: 15px;
  color: #35373d;
}
&.on a, &.open > a {
           color: $brown-color;
         }
ul {
  margin-top: 20px;
li a {
  position: relative;
  padding-left: 15px;
&:after {
   position: absolute;
   left: 0;
   top: 50%;
   content: "";
   width: 5px;
   height: 1px;
   background-color: #000;
 }
}
}
&.open > a:after {
   position: absolute;
   left: 0;
   top: 50%;
   content: "";
   width: 5px;
   height: 1px;
   background-color: #000;
   left: auto;
   right: 0;
   width: 10px;
   height: 2px;
   background-color: $brown-color;
 }
ul li.on > a:after {
  background-color: $brown-color;
}
&.sub-item {
> a i {
    float: right;
    margin-top: 3px;
  }
&.open > a i {
   display: none;
 }
}
}
}
}

.no-snb .sub-container {
&:after {
   background-color: transparent;
 }
.snb {
  display: none;
}
.sub-content {
  width: 100%;
}
}

@media (min-width: 768px) {
  .spot-area .item-slide {
    height: 900px;
    background-size: cover;
  .slide-text {
  strong {
    font-size: 68px;
    line-height: 92px;
  }
  p {
    font-size: 27px;
    line-height: 36px;
    font-size: 27px;
  }
}
}
.footer {
h3 {
  margin: 0 0 30px;
}
.link-area {
  margin-top: 0;
}
}
}

@media (max-width: 1199px) {
  .sub-container {
&:after {
   background-color: transparent;
 }
  .snb {
    display: none;
  }
  .sub-content {
    width: 100%;
  }
}
}

@media (min-width: 1200px) {
// .xe-container {
//   max-width: 1200px;
// }
  header {
  .xe-container {
    position: relative;
  }
  nav .nav-list .sub-menu-list > a:hover .ico-arrow {
    border-color: $brown-color transparent transparent transparent;
  }
  .brand-area {
    position: absolute;
    left: 15px;
    line-height: 70px;
    z-index: 10;
  h1 {
    font-weight: normal;
  }
  .link-brand {
    display: inline-block;

  img{
    max-height: 70px;
  }
}
}
.plugin-area {
  position: relative;
  float: right;
  right: 0;
  height: 70px;
  line-height: 70px;
.plugin {
  color: #fff;
}
}
nav .nav-list li a {
  color: #fff;
}
.btn-toggle {
  display: none;
}
height: 70px !important;
background-color: transparent;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
&.open {
   height: 100%;
   min-height: 100%;
   background-color: transparent;
 }
&.fixed-header {
   position: fixed;
   top: 0;
   background-color: #fff;
   z-index: 1050;
 }
nav {
  display: block !important;
  float: right;
  margin-left: 160px;
  line-height: 70px;
}
&.open nav {
   display: block;
   position: relative;
   z-index: 0;
   top: auto;
   right: auto;
   bottom: auto;
   left: auto;
   margin: 0;
   padding: 0;
   height: auto;
   box-sizing: border-box;
   overflow: initial;
   overflow-y: inherit;
 }
nav .nav-list {
  display: block !important;
  position: relative;
  height: auto;
  background-color: transparent;
> li {
    float: left;
    position: relative;
    z-index: 10;
    padding: 0 32px 0 0;
    background-color: transparent;
> a {
    position: relative;
    display: block;
    padding: 0;
    border: none;
> i {
    display: none;
  }
}
&.on {
   background-color: transparent;
 }
}
.sub-menu-list {
  position: absolute;
  top: 100%;
  min-width: 200px;
> li > a {
    padding: 0 20px;
    color: #000;
    line-height: 40px;
  }
}
.sub-menu {
> a .ico-arrow {
    position: static;
    right: auto;
    top: auto;
    border-color: #fff transparent transparent transparent;
  }
li a .ico-arrow {
  position: absolute;
  right: 16px;
  top: 19px;
  border-color: #000 transparent transparent transparent;
}
.sub-menu-list {
  margin: 0;
  padding: 10px 0;
  background-color: #fff;
}
}
}
&.fixed-header nav .nav-list li a {
   color: #000;
 }
}
.fixed-header .plugin-area .plugin {
  color: #000;
}
header.fixed-header {
nav .nav-list .sub-menu > a .ico-arrow {
  border-color: #000 transparent transparent transparent;
}
box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
}
.no-spot header {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
}
header nav .nav-list .sub-menu-list {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.spot-area .owl-controls .owl-nav {
  display: block;
}
.sub-container .sub-content {
  padding-left: 45px;
}
.no-snb .sub-container .sub-content {
  padding-left: 15px;
}
}

/*desktop 분기*/

body.desktop {
  font-family: 'Montserrat','나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
  font-size: 13px;
input, textarea, select, table {
  font-family: 'Montserrat','나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
  font-size: 13px;
}
}
